/* start of general rules */
body,body * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}
/* end of general rules */
body {
    background-color: #f0f1f3;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*LastNewsSection start  */
.LastNewsSection {
    padding-top: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    overflow: hidden;
}

.LastNewsSection .news{
    width: 650px;
    height: 350px;
    position: relative;
}

@media (max-width: 991.98px) {
    .LastNewsSection .news{
        width: 400px;
        height: 250px;
        position: relative;
    }
}

@media (max-width: 767.98px) { 
    .LastNewsSection .news{
        width: 300px;
        height: 250px;
        position: relative;
    }
 }

.LastNewsSection .news button {
    position: absolute;
    top: 50% ;
    transform: translateY(-50%);
    width: 20px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.LastNewsSection .news button:first-of-type {
    left: -100px ;
    background-image: url("angle-left-solid.svg");
}

.LastNewsSection .news button:last-of-type {
    right: -100px ;
    background-image: url("angle-right-solid.svg");
}

@media (max-width: 576px) {
    .LastNewsSection .news button {
        display: none;
    }
}

.LastNewsSection .news button:disabled {
    cursor: pointer;
}

.LastNewsSection .newsBox{
    width: 100%;
    height: 100%;
    position: absolute;
}

.LastNewsSection .news .newsBox.hideNewsBox {
    visibility: hidden;
}

.LastNewsSection .news .newsBox > a {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.LastNewsSection .news .newsBox > a img {
    position: absolute;
    border: 1px solid rgb(0 0 0 / 25%);
    border-radius: 9px;
}

.LastNewsSection .news .newsBox > a .newsTitle{
    position: absolute;
    bottom: 20px;
    padding: 10px 5px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(0 0 0 / 55%);
    border-radius: 5px;
    line-height: 21px;
    text-decoration: underline;
} 

@media (min-width: 992px) {
    .LastNewsSection .news .newsBox .newsTitle{
        font-size: 20px;
      line-height: 27px;
    }
}

.leftToCenter {
    animation: left-to-center .4s linear 1 ;
}

.centerToLeft {
    animation: center-to-left .4s linear 1 ;
}

.centerToRight {
    animation: center-to-right .4s linear 1 ;
}

.rightToCenter {
    animation: right-to-center .4s linear 1 ;
}

/* animations */
@keyframes left-to-center {
    0% {
        left: -450px;
        opacity: 0;
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}

@keyframes center-to-left {
    0% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
    100% {
        left: -450px;
        opacity: 0;
    }
}

@keyframes center-to-right {
    0% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes right-to-center {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}
/*LastNewsSection end  */

/* general news start */
/* phones and tablets */
.generalNews {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 10px;
}

.generalNews .newsBox > a {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.generalNews .newsBox {
    position: relative;
    margin-bottom: 19px;
    width: 100%;
    height: 100%;
}

.generalNews .newsBox > a img {
    border-radius: 9px;
}

.generalNews .newsBox > a .newsTitle{
    position: absolute;
    bottom: 5px;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(0 0 0 / 55%);
    border-radius: 5px;
    line-height: 21px;
    text-decoration: underline;
} 

/* big screens */
@media (min-width: 768px){
    .generalNews {
        display: grid;
        grid-template-rows: 300px 450px;
        padding: 100px 20px;
        row-gap: 20px;
        align-items: normal ;
    }
    .generalNews .header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    
    .generalNews .center{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    
    .generalNews .center .left{
        max-width: 100%;
        height: 100%;
    }
    
    .generalNews .center .right{
        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
    }
    
    .generalNews .center .right .bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .generalNews .newsBox > a img {
        position: absolute;
    }
}
/* general news end */
